.de_donde_venimos{
    width: 100%;

    img{
        max-width: 100%;
        margin-top: -100px;
        position: relative;
    }
    h2{
        color: 060A24;
        font-family: 'ibm plex sans' ;
        font-size: 2.25rem;
        
        line-height: 42px;
    }
    p{

        color: 060A24;
        font-family: 'ibm plex mono' ;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 22px;
        
    }
    @media screen and( min-width: 500px){
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        img{
            max-width: 457.6px;
            margin-top: -150px;
            
            

        }
        div{
            margin-top: 100px;
            
            
            h2{
                font-size: 4rem;
                margin-bottom: 3vw;

            }
            p{
                max-width: 464px;
            }
        }
    }
}