.episodios{
    width: 100%;
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 10%, 100% 0%, 100% 96%, 0 100%);
    padding-bottom: 150px;
    
    
    h1{
        color: white;
        font-family: 'ibm plex sans' ;
        font-size: 2.25rem;
        padding: 35vw 0px 0px 1rem ;
        
    }
    iframe{
        width: 100%;
        height: 232px;
        max-width: 298px;
        display: flex;
        align-content: center;
        align-items: center;
        margin: 2%;
        
        
        
        
    }

    @media screen and( min-width: 500px){
        h1{
            color: white;
            font-family: 'ibm plex sans' ;
            font-size: 3rem;
            padding: 22vw 0px 1.4rem 13vw ;
            
        }
        iframe{
            width: 100vw;
            height: 232px;
            display: inline;
            max-width: 584px;
        } 
    }
}