.episodios{
    width: 100%;
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0 100%);
    padding-bottom: 150px;
    
    
    h2{
        color: white;
        font-family: 'ibm plex sans' ;
        font-size: 2.25rem;
        padding: 15vw 0px 0px 1rem ;
        
    }
    
    .contenedor_iframes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 5vw;
    }
    iframe{
        width: 100%;
        height: 232px;
        max-width: 298px;
        display: flex;
        align-content: center;
        align-items: center;
        padding: 2vw;
        border: 0px;
        background-color: transparent;    
    }

    @media screen and( min-width: 500px){
        h2{
            color: white;
            font-family: 'ibm plex sans' ;
            font-size: 3rem;
            padding: 15vw 0px 1.4rem 13vw ;
            
        }
        iframe{
            width: 100vw;
            height: 232px;
            
            max-width: 584px;
        } 
    }
}