
ul{    
    background-color: blue;
    width: 100%;
    height: 0%;
    position: absolute;
    font-family: 'ibm plex mono';
    margin-top: 134px;
    opacity: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5vw;
             
         li{
                list-style: none;

                a{
                    text-decoration: none;
                    color: white;
                    &:hover{
                        color: #00F3BB;
                        text-decoration: line-through;
                    }
                    &:active{
                        color: #060A24 ;
                        opacity: 56%;
                    }
                }
            }
}
    

 
