.temas{
    width: 100%;
    h1{
        color: 060A24;
        font-family: 'ibm plex sans' ;
        line-height: 42px;
        font-size: 36px;
        margin: 48px 16px 0px 16px ;
    }
    h2{
        font-family: 'ibm plex sans';
        font-size: 24px;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        margin: 13px 16px 0px 16px ;

    }
    img{
        margin: 65px 108px 0px 108px ;
        
    }

}