@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: white;
  width: 100%;
  height: 14vw;
  max-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8vw;
  height: 8vw;
  max-width: 36px;
  min-width: 36px;
  margin-left: 6vw;
}

header #checkbox {
  display: none;
}

header .fa-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8vw;
  height: 8vw;
  max-width: 36px;
  min-width: 36px;
  margin-right: 6vw;
}

header input:checked ~ .fa-bars {
  display: none;
}

header .fa-times {
  display: none;
}

header input:checked ~ .fa-times {
  display: block;
}

header input:checked ~ ul {
  opacity: 100%;
  height: 224px;
}

@media screen and (min-width: 500px) {
  header .fa-bars {
    display: none;
  }
  header ul {
    opacity: 100%;
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    margin: 0px 0px 0px 15%;
    padding: 0%;
  }
  header ul li a {
    text-decoration: none;
    color: #06240a;
    margin: 10px 10px 10px 10px;
    font-size: 1rem;
  }
  header ul li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  header ul li a:active {
    color: #060A24;
    opacity: 56%;
  }
}

.episodios {
  width: 100%;
  background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0 100%);
          clip-path: polygon(0 4%, 100% 0%, 100% 96%, 0 100%);
  padding-bottom: 150px;
}

.episodios h1 {
  color: white;
  font-family: 'ibm plex sans';
  font-size: 2.25rem;
  padding: 35vw 0px 0px 1rem;
}

.episodios iframe {
  width: 100%;
  height: 232px;
  max-width: 298px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
  padding-bottom: 15vw;
}

@media screen and (min-width: 500px) {
  .episodios h1 {
    color: white;
    font-family: 'ibm plex sans';
    font-size: 3rem;
    padding: 22vw 0px 1.4rem 13vw;
  }
  .episodios iframe {
    width: 100vw;
    height: 232px;
    display: inline;
    max-width: 584px;
  }
}

.inicio .titulo {
  color: 060A24;
  font-family: 'ibm plex sans';
  line-height: 42px;
  font-size: 2rem;
  padding: 29px 0px 0px 16px;
  width: 70%;
}

.inicio .parrafo_titular {
  padding: 29px 0px 0px 16px;
  color: 060A24;
  font-family: 'ibm plex mono';
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 22px;
}

.inicio button {
  background-color: #00F3BB;
  color: 060A24;
  font-family: 'ibm plex mono';
  font-size: 1rem;
  border: none;
  padding: 0px;
  margin: 36px 0px 24px 1rem;
  width: 288px;
  height: 48px;
}

.inicio button:hover {
  background: #00f0b8;
  background: -webkit-gradient(linear, left top, right top, from(#00f0b8), to(#0000fe));
  background: linear-gradient(90deg, #00f0b8 0%, #0000fe 100%);
  color: white;
}

@media screen and (min-width: 500px) {
  .inicio {
    margin: 4vw 0px 0px 14vw;
  }
  .inicio .titulo {
    font-size: 4rem;
  }
  .inicio button {
    margin-top: 4vw;
  }
}

.de_donde_venimos {
  width: 100%;
}

.de_donde_venimos img {
  max-width: 100%;
  margin-top: -100px;
  position: relative;
}

.de_donde_venimos h1 {
  color: 060A24;
  font-family: 'ibm plex sans';
  font-size: 2.25rem;
  line-height: 42px;
}

.de_donde_venimos p {
  color: 060A24;
  font-family: 'ibm plex mono';
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 22px;
}

@media screen and (min-width: 500px) {
  .de_donde_venimos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .de_donde_venimos img {
    max-width: 457.6px;
    margin-top: -150px;
  }
  .de_donde_venimos div {
    margin-top: 100px;
  }
  .de_donde_venimos div h1 {
    font-size: 4rem;
    margin-bottom: 3vw;
  }
  .de_donde_venimos div p {
    max-width: 464px;
  }
}

footer {
  text-align: center;
  font-family: 'ibm plex mono';
  font-size: 1rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  width: 100%;
  height: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  margin-bottom: 1vw;
}

footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 500px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 10vw;
  }
  footer p {
    margin-left: 7vw;
  }
  footer .redes {
    width: 30%;
    margin-right: 5%;
  }
}

.invitados {
  width: 100%;
}

.invitados h1 {
  margin: 54px 16px 14px 16px;
  font-family: 'ibm plex sans';
  font-size: 2.25rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

.invitados div img {
  width: 100%;
  margin: 0;
  display: block;
}

@media screen and (min-width: 500px) {
  .invitados h1 {
    font-size: 3rem;
    margin-left: 14vw;
    margin-bottom: 2.5vw;
  }
  .invitados div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .invitados div img {
    max-width: 480px;
    max-height: 364px;
  }
}

.temas {
  width: 100%;
}

.temas h1 {
  color: 060A24;
  font-family: 'ibm plex sans';
  line-height: 42px;
  font-size: 36px;
  margin: 48px 16px 0px 16px;
}

.temas nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vw;
}

.temas nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.temas nav div h2 {
  font-family: 'ibm plex sans';
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  margin: 13px 16px 0px 16px;
}

@media screen and (min-width: 500px) {
  .temas h1 {
    font-size: 3rem;
    margin-left: 14vw;
  }
  .temas nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.ultimas_novedades {
  background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  margin-top: 30px;
  padding-bottom: 20vw;
  padding-top: 15vw;
  -webkit-clip-path: polygon(0 13%, 100% 1%, 100% 100%, 0% 100%);
          clip-path: polygon(0 13%, 100% 1%, 100% 100%, 0% 100%);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ultimas_novedades h1 {
  color: white;
  font-family: 'ibm plex sans';
  font-size: 2.25rem;
  padding: 29px 0px 0px 16px;
  letter-spacing: 0;
  text-align: center;
}

.ultimas_novedades button {
  background-color: #00F3BB;
  color: 060A24;
  font-family: 'ibm plex mono';
  font-size: 1rem;
  border: none;
  padding: 0px;
  margin: 29px 16px 0px 16px;
  width: 288px;
  height: 48px;
}

.ultimas_novedades button:hover {
  background: #00f0b8;
  background: -webkit-gradient(linear, left top, right top, from(#00f0b8), to(#0000fe));
  background: linear-gradient(90deg, #00f0b8 0%, #0000fe 100%);
  color: white;
}

@media screen and (min-width: 500px) {
  .ultimas_novedades h1 {
    font-size: 3rem;
  }
  .ultimas_novedades button {
    width: 345px;
    height: 56px;
  }
}

ul {
  background-color: blue;
  width: 100%;
  height: 0%;
  position: absolute;
  font-family: 'ibm plex mono';
  margin-top: 134px;
  opacity: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 5vw;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

ul li a:active {
  color: #060A24;
  opacity: 56%;
}
/*# sourceMappingURL=style.css.map */